/* latin-ext */
@font-face{font-family: 'Lato ';font-style:normal;font-weight:300;src:url(./fonts/OpenSans-Regular.ttf);}
/* latin */
@font-face{font-family: 'Lato ';font-style:normal;font-weight:300;src:url(./fonts/OpenSans-Regular.ttf);}
/* latin-ext */
@font-face{font-family: 'Lato ';font-style:normal;font-weight:400;src:url(./fonts/OpenSans-Regular.ttf);}
/* latin */
@font-face{font-family: 'Lato ';font-style:normal;font-weight:400;src:url(./fonts/OpenSans-Regular.ttf);}
/* latin-ext */
@font-face{font-family: 'Lato ';font-style:normal;font-weight:700;src:url(./fonts/OpenSans-Bold.ttf);}
/* latin */
@font-face{font-family: 'Lato ';font-style:normal;font-weight:700;src:url(./fonts/OpenSans-Bold.ttf);}
/* latin-ext */
@font-face{font-family: 'Lato ';font-style:normal;font-weight:900;src:url(./fonts/OpenSans-ExtraBold.ttf);}
/* latin */
@font-face{font-family: 'Lato ';font-style:normal;font-weight:900;src:url(./fonts/OpenSans-ExtraBold.ttf);}
/* cyrillic-ext */
@font-face{font-family: 'Montserrat ';font-style:normal;font-weight:400;src:url(./fonts/OpenSans-Regular.ttf);}
/* cyrillic */
@font-face{font-family: 'Montserrat ';font-style:normal;font-weight:400;src:url(./fonts/OpenSans-Regular.ttf);}
/* vietnamese */
@font-face{font-family: 'Montserrat ';font-style:normal;font-weight:400;src:url(./fonts/OpenSans-Regular.ttf);}
/* latin-ext */
@font-face{font-family: 'Montserrat ';font-style:normal;font-weight:400;src:url(./fonts/OpenSans-Regular.ttf);}
/* latin */
@font-face{font-family: 'Montserrat ';font-style:normal;font-weight:400;src:url(./fonts/OpenSans-Regular.ttf);}
/* cyrillic-ext */
@font-face{font-family: 'Montserrat ';font-style:normal;font-weight:700;src:url(./fonts/OpenSans-Bold.ttf);}
/* cyrillic */
@font-face{font-family: 'Montserrat ';font-style:normal;font-weight:700;src:url(./fonts/OpenSans-Bold.ttf);}
/* vietnamese */
@font-face{font-family: 'Montserrat ';font-style:normal;font-weight:700;src:url(./fonts/OpenSans-Bold.ttf);}
/* latin-ext */
@font-face{font-family: 'Montserrat ';font-style:normal;font-weight:700;src:url(./fonts/OpenSans-Bold.ttf);}
/* latin */
@font-face{font-family: 'Montserrat ';font-style:normal;font-weight:700;src:url(./fonts/OpenSans-Bold.ttf);}